.sidebar .menu-box::-webkit-scrollbar {
    width: 3px;
    background-color: white;
}

/* Track */
.sidebar .menu-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px white;
    border-radius: 3px;
}

/* Handle */
.sidebar .menu-box::-webkit-scrollbar-thumb {
    background: rgba(28, 28, 28, 0.1);
    border-radius: 1px;
}

.sidebar{
    width: 270px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.1), 10px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 0px 8px 8px 0px;
    transition: 0.2s all linear;
    border-right: 2px solid rgba(28, 28, 28, 0.1);
}

.hide-sidebar{
    width: 80px;
    transition: 0.2s all linear;
}

.sidebar .sidebar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    padding-right: 25px;
    background: rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(28, 28, 28, 0.1);
    position: relative;
}

.sidebar .sidebar-top .avatar-box{
    display: flex;
    align-items: center;
}

.sidebar .sidebar-top .avatar-box .img-box img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar .sidebar-top .avatar-box .title{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar .sidebar-top .avatar-box .name{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1C1C1C;
}

.sidebar .sidebar-top .avatar-box .position{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(28, 28, 28, 0.7);
    margin-top: 5px;
}

.menu-box{
    padding: 40px 10px;
    position: relative;
    height: calc(100vh - 82px);
    overflow-y: auto !important;
    overflow-x: hidden;
}

.sidebar-top .left-arrow-box{
    width: 40px;
    height: 40px;
    position: absolute;
    right: -20px;
    z-index: 1000;
    top: 90px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all linear;
}

.sidebar-top .left-arrow-box .right-arrow{
    transform: rotate(180deg);
    transition: 0.2s all linear;
}

.menu-box .sidebar-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-box .sidebar-menu .menu-item{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.menu-box .sidebar-menu .menu-item-box{
    padding: 13px 16px;
    margin-bottom: 5px;
    border-radius: 30px;
    text-decoration: none;
    color: rgba(28, 28, 28, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s all linear;
}

.menu-box .sidebar-menu .menu-item-box:hover{
    background-color: #00aec5;
    transition: 0.3s all linear;
}

.menu-box .sidebar-menu .menu-item-box .icon-arrow-rotate{
    transform: rotate(180deg);
    transition: 0.3s all linear;
    background-color: white;
}

.menu-box .sidebar-menu .active-item, .menu-box .sidebar-menu .sub-menu-open{
    background-color: #0090A3;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.menu-box .sidebar-menu .active-item .title, .menu-box .sidebar-menu .sub-menu-open .title{
   color: white !important;
}

.menu-box .sidebar-menu .active-item .icon, .menu-box .sidebar-menu .sub-menu-open .icon{
    background-color: white !important;
}

.menu-box .sidebar-menu .menu-item-box .title{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(28, 28, 28, 0.7);
}

.menu-box .sidebar-menu .sub-menu{
    padding-left: 30px;
    list-style-type: none;
    padding-right: 15px;
}

.menu-box .sidebar-menu .sub-menu .sub-menu-item-link{
    padding: 7px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(28, 28, 28, 0.7);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 4px;
}

.menu-box .sidebar-menu .sub-menu .sub-menu-item-link:hover, .menu-box .sidebar-menu .sub-menu .sub-menu-item-link-active{
    transition: 0.3s all linear;
    background: #EAEAEA;
}

.menu-box .sidebar-menu .sub-menu .sub-menu-item-link .arrow-rotate{
    transform: rotate(-90deg);
}

.menu-box .sidebar-menu .single-sub-menu{
    list-style-type: none;
    text-decoration: none;
}

.menu-box .sidebar-menu .single-sub-menu {
    list-style-type: none;
}

.menu-box .sidebar-menu .single-sub-menu-item a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: rgba(28, 28, 28, 0.7);
    display: inline-block;
    margin-bottom: 10px;
}

.menu-box .sidebar-menu .single-sub-menu-item .single-menu-item-link-active{
    color: #0090A3;
}