*{
    font-family: sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.main{
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    overflow: hidden;
    width:  calc(100vw - 270px);
    transition: 0.2s all linear;
    position: relative;
}

.show-main{
    width:  calc(100vw - 80px);
    transition: 0.2s all linear;
}

.content{
    display: flex;
}



