.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 25px;
    height: 25px;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 100%;
    margin-right: 15px;
}

.icon-home{
    background-color: rgba(28, 28, 28, 0.7);
    -webkit-mask-image: url('images/icon/home.svg');
    mask-image: url('images/icon/home.svg');
    width: 22.5px;
    height: 21px;
}


.icon-mahsulot{
    background-color: rgba(28, 28, 28, 0.7);
    -webkit-mask-image: url('images/icon/mahsulot.svg');
    mask-image: url('images/icon/mahsulot.svg');
    width: 22px;
    height: 25px;
}

.icon-sotuv{
    background-color: rgba(28, 28, 28, 0.7);
    -webkit-mask-image: url('images/icon/sotuv.svg');
    mask-image: url('images/icon/sotuv.svg');
    width: 21px;
    height: 18.75px;
}

.icon-kassa{
    background-color: rgba(28, 28, 28, 0.7);
    -webkit-mask-image: url('images/icon/kassa.svg');
    mask-image: url('images/icon/kassa.svg');
    width: 15px;
    height: 21px;
}

.icon-filial{
    background-color: rgba(28, 28, 28, 0.7);
    -webkit-mask-image: url('images/icon/filial.svg');
    mask-image: url('images/icon/filial.svg');
    width: 21px;
    height: 22.5px;
}

.icon-valyuta{
    background-color: rgba(28, 28, 28, 0.7);
    -webkit-mask-image: url('images/icon/valyuta.svg');
    mask-image: url('images/icon/valyuta.svg');
    width: 22.5px;
    height: 18px;
}

.icon-arrow{
    background-color: rgba(28, 28, 28, 0.7);
    -webkit-mask-image: url('images/icon/arrow.svg');
    mask-image: url('images/icon/arrow.svg');
    width: 16px;
    height: 9px;
    transition: 0.3s all linear;
}

